<% if current_user.session_id != nil %>
    <h1>Dashboard</h1>
<% else %>
    <%= link_to "Approve Token", "https://www.themoviedb.org/authenticate/#{@token}?redirect_to=http://127.0.0.1:3000/" %>
<% end %>