<% if current_user.session_id != nil %>
<div id="dashboard">
    <form action="/search" method="get" id="search-container">
        <label for="search">I want to watch something like:</label>
        <input id="search" type="text" name="movie" />
        <button type="submit">Search</button>
    </form>
    <h2>WATCHLIST</h2>
        <% if @watchlist.length <= 0 %>
            <div class="empty-container">
                <h6>Your watchlist is empty</h6>
            </div>
        <% else %>
            <ul class="grid grid-col-5">
                <% @watchlist.each do |movie| %>
                    <li>
                        <%= image_tag("https://image.tmdb.org/t/p/original#{movie['poster_path']}") %>
                    </li>
                <% end %>
            </ul>
        <% end %>
</div>
<% else %>
    <div id="connect-container">
        <h2>You need to connect your Movie Match Account with your TMDB account</h2>
        <%= link_to "Click Here To Connect Your TMDB Account", "https://www.themoviedb.org/authenticate/#{@token}?redirect_to=https://movie-match-app.herokuapp.com/", class: "heading" %>
    </div>
<% end %>