<% if current_user.session_id != nil %>
<div id="dashboard">
    <form action="/search" method="get" id="search-container">
        <label for="search">I want to watch something like:</label>
        <input id="search" type="text" name="movie" />
        <button type="submit">Search</button>
    </form>
    <h2>WATCHLIST</h2>
        <% if @watchlist.length <= 0 %>
            <h6>Your watchlist is empty</h6>
        <% else %>
            <ul class="grid grid-col-5">
                <% @watchlist.each do |movie| %>
                    <li>
                        <%= image_tag("https://image.tmdb.org/t/p/original#{movie['poster_path']}") %>
                    </li>
                <% end %>
            </ul>
        <% end %>
</div>
<% else %>
    <%= link_to "Connect Your TMDB Account", "https://www.themoviedb.org/authenticate/#{@token}?redirect_to=http://127.0.0.1:3000/" %>
<% end %>