// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');

body {
	background-color: #0e3273;
	font-family: 'Roboto', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
	.logo {
		font-family: 'Anton', sans-serif;
		color: #f7a715;
		font-size: 2rem;
		border: 2px solid #f7a715;
		padding: 1px 2px;
		text-decoration: none;
	}

	ul {
		list-style-type: none;
		a {
			color: #f7a715;
			text-decoration: none;
		}
	}
}

.container {
	width: 90%;
	margin: auto;
}

#search-container {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: nowrap;
	gap: 5px;
	label {
		color: #fff;
	}
	input[type='text'] {
		font-size: 2rem;
		background: none;
		border: none;
		outline: none;
		border-bottom: 2px solid white;
		color: #f7a715;
	}
	button {
		background-color: #05235a;
		color: white;
		border: none;
		padding: 1rem;
	}
}

#dashboard,
#main {
	h2 {
		color: #f7a715;
		font-family: 'Anton', sans-serif;
	}
	h6 {
		text-align: center;
		font-size: 1.5rem;
		color: white;
	}
}

.grid {
	display: grid;
	gap: 15px;
	padding: 0;
	list-style-type: none;
	&.grid-col-5 {
		grid-template-columns: repeat(5, 1fr);
		li > img {
			width: 100%;
		}
	}
}

#slides {
	position: relative;
	height: 500px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	aspect-ratio: 2/3;
	margin: auto;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	overflow-y: scroll;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;

	.image-container {
		height: 500px;
		aspect-ratio: 2/3;
		margin: auto;
		background-size: cover;

		&::before {
			content: '';
			background-color: rgba(0, 0, 0, 0.2);
			display: block;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.details-container {
		position: absolute;
		color: white;
		bottom: 20px;
		left: 10px;
		h3 {
			margin: 0;
		}
	}

	.overview {
		background-color: white;
		padding: 20px;
		h4 {
			color: #f7a715;
			font-family: 'Anton', sans-serif;
		}
	}
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.showing {
	opacity: 1;
	z-index: 2;
}

#end-of-suggestions {
	display: none;
	&.show {
		display: block;
	}
}

#suggestions {
	display: block;
	&.hide {
		display: none;
	}

	#buttons {
		text-align: center;
		margin-top: 2rem;
		position: relative;

		.controls {
			background-color: transparent;
			border: none;
			font-size: 2.5rem;
			&#approve {
				color: green;
			}

			&#decline {
				color: #b90000;
			}
		}
	}
}
