// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');

body {
	background-color: #0e3273;
	font-family: 'Roboto', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
	.logo {
		font-family: 'Anton', sans-serif;
		color: #f7a715;
		font-size: 2rem;
		border: 2px solid #f7a715;
		padding: 1px 2px;
	}

	ul {
		list-style-type: none;
		a {
			color: #f7a715;
			text-decoration: none;
		}
	}
}

.container {
	width: 90%;
	margin: auto;
}

.grid {
	display: grid;
	&.grid-col-5 {
		grid-template-columns: repeat(5, 1fr);
		li > img {
			width: 100%;
		}
	}
}

#slides {
	position: relative;
	height: 600px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 500px;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	.container {
		height: 500px;
		.image-container {
			height: 400px;
			aspect-ratio: 2/3;
			margin: auto;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

.showing {
	opacity: 1;
	z-index: 2;
}

#end-of-suggestions {
	display: none;
	&.show {
		display: block;
	}
}

#suggestions {
	display: block;
	&.hide {
		display: none;
	}
}
